html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 200px;
}

.logo {
  height: 100%;
}

.navbar-brand {
  padding-top: 8px;
  padding-bottom: 3px;
}

nav, p, h1, a, li {
  font-family: 'Assistant', sans-serif;
}

.navbar {
  background-color: #FFFFFF;
  font-size: 1.25em;
  letter-spacing: 1px;
}

.nav > li > a, .nav > li > a:focus {
  color: #000000;
  background-color: #FFFFFF;
}

.nav > li > a:hover {
  color: #29AAE1;
  background-color: #FFFFFF;
}

.nav > li > a > button {
  margin-top: -5px;
  margin-bottom: -5px;
  background-color: #29AAE1;
  color: #FFFFFF;
  border: none;
}

.nav > li > a > button:hover, .nav > li > a > button:focus {
  background-color: #FF7832;
  color: #FFFFFF;
  border: none;
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: .75em;
  font-family: sans-serif;
}

.footer {
  height: 200px;
  background-color: #29AAE1;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer ul {
  padding-top: 30px;
}

.footer li {
  list-style: none;
  padding: 0;
}

.footer-img {
  height: 170px;
  padding-right: 50px;
}

.footer-img-div {
  margin-right: -40px;
}

.footer .list-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
}

.footer .copyright {
  color: #FFFFFF;
  padding-left: 50px;
}

.footer a {
  color: #000000;
}

.footer a:hover, .footer a:focus {
  text-decoration: none;
  color: #FFFFFF;
}

.footer .contact {
  text-align: right;
  padding-right: 70px;
  padding-top: 25px;
}

.footer .contact p {
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.fa-linkedin, .fa-twitter {
  font-size: 32px;
  padding: 5px;
  padding-bottom: 10px;
}